.job_card {
  .ant-card-body {
    padding: 16px 16px !important;
  }
}

.card_comment-item {
  margin-top: 8px;
  .ant-card-bordered {
    border: none !important;
  }
  .ant-card-body {
    padding: 24px 18px 0px 18px !important;
    border-radius: none;
  }
  .ant-timeline {
    .ant-timeline-item {
      padding-bottom: 0;
    }
    .ant-timeline-item-head-custom {
      background: #ffffff !important;
    }
    .ant-timeline-item-last {
      padding-bottom: 4px;
    }
  }
}

.card_comment-item:first-child {
  margin-top: 0px;
}

.dot_comment {
  border-left: 2px solid #e6e6e7;
  border-bottom: 2px solid #e6e6e7;
  border-bottom-left-radius: 8px;
  margin-left: 18px;
  margin-top: -6px;
  width: 20px;
  height: 44px;
}
